%row-column{
	background: white;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 1px;
	& + %row-column{
		margin-left: $gutter-width;
	}

	// &:hover{
	// 	background: tomato;
	// }
}

//GRID
@for $i from 1 through $num-cols{
	.content-row .col-#{$i}{
		$w: percentage((($col-width * $i) + ($gutter-width * ($i - 1))) / $full-width);
		width: $w;
		@extend %row-column
	}
	.content-row .right + .col-#{$i}{
		margin-left: 0;
	}
	.content-row .push-#{$i}{
		$m: percentage((($col-width * $i) + ($gutter-width * ($i - 1))) / $full-width);
	}
}

@for $i from 1 through $max-row-height{
	.content-row .row-#{$i}{
		$h: ($row-height * $i) + ($gutter-width * ($i - 1));
		height: $h;
	}
}

//WRAPPER
#lp-folder-wrapper{
	background: #ddd;
	color: #454545;
	font-family: "Open Sans", Helvetica-Neue, Arial, sans-serif;
	margin: 0 auto;
	max-width: $full-width;
	width: percentage($full-width/$full-width);
}

//CONTENT ROW
.content-row, .content-block{
	.right{
		float: right;
	}
	&:after{
		clear: both;
		content: "";
		display: table;
	}
}

//RESPONSIVE IMAGES
img{
	max-width: 100%;
}

//GENERAL LINK
.contentlink {
	color: inherit;
}

//BOTTOM CONTAINER
.bottom-container{
	box-sizing: border-box;
	padding: 0 4%;
	position: absolute;
		bottom: 0;
	width: 100%;
	.price-tag{
		.barred-price, .new-price{
			margin: .1em 0;
		}
		.barred-price{
			font-size: .7em;
			line-height: 1;
			text-decoration: line-through;
		}
		.new-price{
			color: #AF151E;
			font-size: 1.6em;
			font-weight: 600;
			line-height: 1;
		}
		.currency{
			font-size: .6em;
			margin-right: .2em;
		}
	}
	h3{
		display: inline-block;
		float: left;
		font-size: 1em;
		font-weight: 600;
		margin: .5em 0 .3em;
		width: 70%;
	}
	.product-category{
		font-weight: 100;
	}
	.swatch-container{
		display: inline-block;
		float: right;
		width: 30%;
	}
	.swatch{
		//border: 1px solid #ccc;
		border-radius: 50%;
		box-sizing: border-box;
		display: block;
		float: right;
		height: 16px;
		margin: 10px 3px 0 0;
		width: 16px;
	}
	.logo-container{
		border-top: 2px dotted #ddd;
		box-sizing: border-box;
		display: table;
		clear: both;
		height: 51px;
		padding: 10px 0;
		width: 100%;
		.logo{
			vertical-align: middle;
			height: 100%;
		}
	}
}

//COLORS
.red{
	background: #FA4251;
}

.blue{
	background: #475163;
}

.beige{
	background: #A69A8A;
}














