//WRAPPER
#lp-folder-wrapper{
	background: #ddd;
	color: #454545;
	font-family: "Open Sans", Helvetica-Neue, Arial, sans-serif;
	@include mobile{
		background: #ffffff;
		overflow: hidden;
	}
}

//CONTENT ROW
.content-row, .content-block{
	.categorie-titel{
		background: #ffffff;
		border-top: 1px solid #dddddd;
		box-shadow: 0 14px 3px -10px rgba(0,0,0,.04), 0 -12px 3px -10px rgba(0,0,0,.04);
	}
	.product-container{
		@include mobile{
			border-left: 1px solid #DDDDDD;
			border-bottom: 1px solid #DDDDDD;
		}
	}
}

//GENERAL LINK
.contentlink {
	color: inherit;
}

//BOTTOM CONTAINER
.bottom-container{
	.price-tag{
		.special{
			background: #AF151E;
			color: #efefef;
			font-size: .75em;
			text-transform: uppercase;
		}
		.barred-price{
			font-size: .7em;
			line-height: 1;
			text-decoration: line-through;
		}
		.new-price{
			color: #AF151E;
			font-size: 1.6em;
			font-weight: 600;
			line-height: 1;
		}
		.currency{
			font-size: .6em;
		}
	}
	h3{
		font-size: 1em;
		font-weight: 600;

		@include tablet-landscape{
			font-size: .8em;
		}
	}
	.product-category{
		font-weight: 100;
	}
	.swatch{
		//border: 1px solid #ccc;
		border-radius: 50%;
	}
	.logo-container{
		border-top: 2px dotted #ddd;
	}
}